:root {
    --prim-color: #0d345a;
    --sec-color: #fff;
    --a-color: #ffa311;
    --hover: #968e8e;
    --text: rgb(22, 217, 112);
    ;
}

* {
    width: auto;
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'rubik', sans-serif;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Start navbar*/
.navbar {
    width: 100%;
    position: fixed;
     z-index: 1000;
    background-color: var(--prim-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 15px;
}

.navbar ul li,
.navbar .btn,
.navbar .button {
    cursor: pointer;
    color: var(--sec-color);
    font-size: 20px;
    transition: 0.2s;
}

header h3 {
    cursor: pointer;
    color: var(--sec-color);
    font-size: 26px;
    margin-left: 2em;
}

.navbar ul {
    display: flex;
    gap: 7em;
}

.navbar ul li:hover {
    color: var(--a-color);
}

.navbar .btn {
    position: relative;
    left: 70px;
}

.navbar .btn:hover {
    color: var(--hover);
}


.navbar .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.7%;
    height: 34px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
    margin-right: 3em;
    background-color: var(--a-color);
    border-top-right-radius: 6px;
    border-bottom-left-radius: 7px;
}

.navbar .button:hover {
    background-color: var(--hover);
}

/*End header*/
/*start home*/
.home {
    background-color: var(--prim-color);
    height: 100vh;
}


.home h1 {
    font-size: 50px;
    position: relative;
    top: 2.5em;
    margin-left: 2.5em;
    line-height: 1.5;
    color: var(--sec-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home p {
    font-size: 25px;
    line-height: 1.3;
    color: var(--sec-color);
    margin-left: 4.8em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 5.4em;
    padding-bottom: 2px;
}

.home img {
    max-width: 40%;
    margin-left: 47em;
    position: relative;
    top: -16.3em;
}

/*End home*/

/*Start about*/
.about {
    padding-top: 4em;
    padding-bottom: 12em;
}

.about a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sec-color);
    width: 11%;
    height: 3.4em;
    top: -8em;
    margin-left: 60px;
    background-color: var(--a-color);
    border-top-left-radius: 7px;
    border-bottom-right-radius: 12px;
    position: relative;
    transition: 0.3s;
}

.about a:hover {
    transform: scale(1.1);
    background-color: var(--hover);
}

.about .main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    background-color: var(--sec-color);
    width: 90%;
    padding-bottom: 60px;
    margin: -155px auto;
    box-shadow: 10px 0 80px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    gap: 100px;
}

.about .main .card i {
    color: var(--prim-color);
    position: relative;
    top: 4.2em;
    margin-left: 3.5em;
    font-size: 20px;
}

.about .main .card .one {
    margin-left: -1em;
}

.about .main .card {
    width: 100%;
}

.about .card h2 {
    color: var(--prim-color);
    font-family: 'Ubuntu', sans-serif;
    margin-top: 2.4em;
    margin-left: 3.5em;
    padding-bottom: 1.5em;
}


.about .card p {
    color: var(--hover);
    font-size: 20px;
    margin-left: 40px;
    font-weight: 900;
}

/*End about*/

/*Start services*/
.services {
    margin-top: 18em;
    padding-bottom: 12em;
}

.services p {
    color: var(--prim-color);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.services .mainn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 2.2em;
    width: 20%;
    margin-top: 25px;
    margin-left: 31.9em;
}


.services .mainn h5 {
    border: 2px solid black;
    height: 7vh;
    width: 170%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .mainn h4 {
    border: 2px solid black;
    border-right: none;
    height: 7vh;
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .mainn h4,
.services .mainn h5 {
    color: var(--text);
    font-size: 25px;
    letter-spacing: 1px;
    padding: 5px;
}

.services .mainn h5:hover {
    background-color: rgba(8, 217, 0, 0.16);
}

.services .mainn h4:hover {
    background-color: rgba(8, 217, 0, 0.16);
    ;
}

.services .main-card {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 20px;
    width: 90%;
    margin-top: 40px;
    margin-left: 4.2em;
}

.services .main-card .card {
    background-color: var(--sec-color);
    box-shadow: 1px 0 20px 2px rgba(116, 64, 64, 0.26);
}

.services .main-card .card .head h2 {
    color: var(--prim-color);
    margin-top: 0.7em;
    font-size: 30px;
}

.services .main-card .card .head h3 {
    color: var(--text);
    margin-top: 9px;
    font-size: 58px;
}

.services .main-card .card .head p {
    color: var(--prim-color);
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 50px;
}

.services .main-card .card .body p {
    color: rgba(93, 93, 93, 0.47);
    font-size: 20px;
    font-weight: 100;
    margin-top: 22px;
}

.services .main-card .card .a {
    background-color: var(--a-color);
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 60%;
    height: 6vh;
    margin-top: 10em;
    margin-bottom: 17px;
    margin-left: 69px;
    transition: 0.3s;
}

.services .main-card .card .a:hover {
    background-color: var(--hover);
}

.services .main-card .card .a a {
    display: flex;
    justify-content: center;
    padding: 9px;
    color: var(--sec-color);
}

/*End services*/

/*Start experience*/

.ex {
    background-color: var(--prim-color);
    margin-top: 100px;
    padding: 2px;
    padding-bottom: 70px;
}

.ex h1 {
    margin-top: 70px;
    margin-bottom: 1.5em;
    text-align: center;
    color: var(--sec-color);
    cursor: pointer;
}

.ex h1 span {
    color: var(--text);
}

.ex h3 {
    margin-top: 50px;
}

.ex .all {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 90%;
    gap: 2em;
    height: 70vh;
    margin-top: 40px;
    margin-right: 3em;
    margin-left: 4em;
}

.ex .all .card {
    background-color: var(--text);
}

.ex .all .card:hover {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
}

.ex .all .cardd {
    background-color: var(--hover);
}

.ex .all .cardd:hover {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
}

.ex .all .card,
.ex .all .cardd {
    height: 59vh;
    text-align: center;
    transition: 0.3s;
}


.ex .all img {
    margin-top: 30px;
    margin-bottom: -1px;
    width: 20%;
    height: 11vh;
    border-radius: 50%;
}

.ex .all h2 {
    font-size: 30px;
    margin-bottom: 1em;
}

.ex .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 60px;
    margin-top: 35px;
    margin-left: -10px;
    color: var(--prim-color);
    cursor: pointer;
}

.ex .circle p {
    background-color: rgba(0, 255, 255, 0);
    width: 10px;
    height: 2vh;
    border: 1px solid rgba(255, 234, 234, 0.97);

}

.ex .circle .p {
    border: 1px solid var(--text);
}

footer .social h1 {
    text-align: center;
    margin-top: 3em;
    font-size: 30px;
}

footer .social .a {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

footer .social a {
    color: black;
    font-size: 30px;
}

footer .social a:hover {
    color: var(--hover);
}

footer h2 {
    margin-top: 6em;
    padding-bottom: 30px;
    text-align: center;
    font-size: 27px;
    color: var(--prim-color);
}

footer h2 span {
    font-size: 29px;
    color: var(--text);
}



/*Medium*/
@media (max-width: 767px) {

    .navbar h3,
    .navbar .button,
    .btn {
        display: none;
    }

    .navbar ul {
        gap: 17px;
    }

    .navbar ul li {
        margin-left: 3px;
        font-size: 17px;
    }


    .home h1 {
        display: block;
        font-size: 25px;
        margin-left: 20px;
        margin-right: 11px;
        padding-top: 5em;
    }

    .home p {
        display: block;
        font-size: 18px;
        margin-top: 50px;
        margin-right: 20px;
        margin-left: 27px;
    }

    .home img {
        display: none;
    }

    .about a {
        margin-left: 20px;
        width: 40%;
    }

    .services .mainn {
        display: block;
        position: relative;
        left: -29.5em;
    }

    .services .mainn h4,
    .services .mainn h5 {
        border: 3px solid var(--prim-color);
        width: 300px;
    }

    .services .card {
        margin-left: 20px;
    }


    .ex .all {
        margin-left: 20px;
        height: 190vh;
    }

    .ex .circle {
        margin-top: 140px;
    }

    footer .social .a {
        gap: 30px;
    }

    footer h2 {
        letter-spacing: 2px;
    }
}



/*Small*/
@media (max-width: 500px) {

    .navbar ul {
        margin-left: 15px;
    }

    .services p {
        font-size: 27px;
    }

    .services .mainn {
        width: 37px;
        gap: 28px;
    }

    .services .mainn h4,
    .services .mainn h5 {
        padding: 0;
    }

    .services .main-card {
        margin-left: 10px;
    }

    .services .main-card .card .a {
        margin-left: 59px;
    }
}



/*tabs and ipads*/
@media screen and (min-width: 768px) and (max-width: 1000px) {

    .navbar h3 {
        display: none;
    }

    .navbar ul {
        margin-left: 20px;
        gap: 60px;
    }

    .navbar ul li {
        font-size: 22px;
    }

    .navbar .btn {
        margin-right: 80px;
    }

    .navbar .button {
        width: 18%;
    }

    .home {
        margin-right: em;
        height: 81vh;
    }

    .home h1 {
        top: 3.9em;
        margin-left: 40px;
    }

    .home p {
        width: 95.3%;
        top: 9em;
        margin-left: 40px;
    }

    .home img {
        display: block;
        top: -150px;
        left: -18em;
    }

    .about a {
        margin-left: 38px;
        width: 20%;
    }

    .about p {
        margin-right: 20px;
    }

    .services .mainn {
        margin-left: 17.9em;
    }

    .services .main-card {
        margin-left: 2.7em
    }

    .ex {
        height: 130vh;
    }

    .ex .all .cardd {
        margin-left: -10px;
        margin-right: 0px;
    }

    .ex .all .card {
        margin-left: -30px;
    }

    .ex .all .card,
    .ex .all .cardd {
        border-radius: 20px;
        height: 48vh;
    }

    .ex .circle {
        margin-top: 6.1em;
    }

    footer h2 {
        padding-bottom: 55px;
    }
}

/* Microsoft surface duo */
@media screen and (min-width: 1001px) and (max-width: 1360px) {
    .navbar ul {
        gap: 60px;
    }

    .navbar .btn {
        margin-right: 50px;
    }

    .home h1,
    .home p {
        margin-left: 20px;
    }

    .home img {
        display: block;
        top: -13em;
        left: -90px;
    }
}
